#identities-table tr.disabled {
    font-style:italic;
}

.boxfooter a.button.moveupgroup, .boxfooter a.buttonPas.moveupgroup {
    background-image: url("images/groupactions.png?v=1");
}

.boxfooter a.button.movedowngroup, .boxfooter a.buttonPas.movedowngroup {
    background-image: url("images/groupactions.png?v=1");
    background-position: 0 -24px;
}

table.propform th {
    text-align:left;
    font-weight: bold;
}

table.propform td.tdcriteria {
    width: 20%;
}

table.propform td.tdtype {
    width: 25%;
}

table.propform td.tdvalue {
    width: 30%;
}

table.propform td.tdaction {
    width: 50%;
}

table.propform td.tdmove {
    width: 25%;
}

table.propform td.tdactions {
    width: 25%;
}

div.panel input, div.panel textarea {
    margin: 3px 0 5px;
}
